* {
    margin: 0em;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 150vh;
    margin: 0;
    background: navy;
}
#app{
    overflow: auto;
    display:grid;
    grid-template-columns: repeat(auto-fill, 400px);
    padding: 24px;
    gap: 24px;
    z-index: 1;
    
    

}
.note{
    height: 400px;
    box-sizing: border-box;
    padding:16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.15);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 90px;
}
.add-note {
    height: 200px;
    border: none;
    outline: none;
    background: rgba(0,0,0,.10);
    z-index: 1;
    border-radius: 10px;
    font-size: 120px;
    color: rgba(0,0,0,.50);
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 90px;
}
.add-note:hover{
    background: rgba(0,0,0,.20);

}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: forestgreen;
    height: 10vh;
    width: 100%;
    z-index: 3;
}
.plus-icon{
    margin-left: 1rem;
    cursor: pointer;
    transition: 500ms ease;
}
.globe-icon {
    margin-right: 1rem;
    cursor: pointer;
}
.navbar {
    position: fixed;
    height: 80vh;
    width: 100%;
    background-color: #624B74;
    opacity: 0.9;
    clip-path: circle(5% at -5% 5%);
    transition: 400ms ease-in-out;
}
.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    height: 79vh;     
}
.navbar ul li{
    list-style-type: none; 
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    transition: all 200ms ease;
}
.navbar ul li a:hover {
    background-color: #281f30;
    padding: 10px;
    border-radius: 10px;
}
.open {
    /* display: block;
    position: sticky;
    top: 10vh; */
    clip-path: circle(200% at 90% 10%);
}
.rotate{
    transform: rotate(-135deg);
}
.tweeter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(83, 83, 146);
    color: white;
    font-family: 'Poppins', sans-serif;
}
.tweeter a {
    text-decoration: none;
    color: rgb(255, 232, 27);
}